Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data, organized in such a way that it allows for storage, retrieval, and manipulation of information.

Difference between SQL (Structured Query Language) and NoSQL databases-

1. In SQL databases, data is organised in tables ie- rows and columns. However, NoSQL databases contains a wide range of data such as documents, graphs ec cetera.

2. SQL databases has a rigid schema, the structure of data (tables, columns, data types etc.) must be pre-defined before inserting the tables. However, NoSQL databases are schema-less having flexible schema.

3. SQL databases use SQL as the query language to interact with the data, but NoSQL databases use various query languages.

4. SQL databases are traditionally designed for vertical scalability, but NoSQL databases are typically designed for horizontal scalability.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data definition language. DDL statements are used to create, modify and delete database objects such as tables etc.

Create- is used to create new database objects like tables, views, indexes, and more. It defines the structure of the object, including its columns and data types.

CREATE TABLE test(
    student_id INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

DROP- DROP statement is used to delete existing database objects like tables, views, indexes, and so on.

DROP TABLE test;

ALTER- is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, constraints, or other attributes of an object.

ALTER TABLE test
ADD Email VARCHAR(100);

TRUNCATE- is used to delete all rows from a table, but it retains the table structure. It is faster and more efficient than the DELETE statement for removing all data from a table.

TRUNCATE TABLE test;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language,used for managing data stored in a database.

INSERT- is used to add new rows of data into a database table.

INSERT INTO students (studentID, FirstName, LastName, Department)
VALUES (101, 'a', 'b', 'c');

UPDATE- is used to modify existing data in a database table.

UPDATE students
SET Department = 'cs'
WHERE studentID = 101;

DELETE- is used to remove rows from a database table based on specified conditions.

DELETE FROM students
WHERE studentID = 101;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, used for querying and retrieving data from a database.

The SELECT statement is used to retrieve data from one or more tables in a database. It retrieves data based on the columns specified, the table(s) from which to retrieve the data, and optional filtering and sorting criteria.

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Q5. Explain Primary Key and Foreign Key.

A primary key is a field or a set of fields in a database table that uniquely identifies each record (row) in that table. It ensure that each record in the table is distinct.

A foreign key is a field or a set of fields in one table that is used to establish a link or relationship between the data in two tables. It ensures that the values in the foreign key column(s) in one table match the values in the primary key column(s) of another table. It is like a label that connects one piece of data to another.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

mycursor.execute("select * from test1.test_table")
for i in mycursor.fetchall():
    print(i)

Q7. Give the order of execution of SQL clauses in an SQL query.

Below is the brief overview of the order of execution of SQL clauses in a query:

1. **FROM Clause**: Specifies the tables and their joins.

2. **WHERE Clause**: Filters rows based on conditions specified.

3. **GROUP BY Clause**: Groups rows for summary calculations (if used).

4. **HAVING Clause**: Filters grouped results (if used with GROUP BY).

5. **SELECT Clause**: Specifies the columns and calculations for the result set.

6. **ORDER BY Clause**: Sorts the result set.

7. **LIMIT/OFFSET Clause**: Limits the number of rows in the result (if used).

8. **Final Result**: The processed result set is returned.

Note- not all queries include all clauses, the actual execution may be different as per the database system.